name: Sync to Hugging Face
on:
  push:
    branches: [main]
  workflow_dispatch: # Ti permette di farlo partire anche a mano

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to HF
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git push --force https://pigi87:$HF_TOKEN@huggingface.co/spaces/pigi87/stre040226 main
